<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>EasySDI Monitor - V2.1.0</display-name>
	<context-param> 
        <param-name>webAppRootKey</param-name> 
        <param-value>Monitor.root</param-value> 
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/security.xml
		</param-value>
	</context-param>
		
	<env-entry> 
    	<env-entry-name>xsltPath</env-entry-name> 
    	<env-entry-type>java.lang.String</env-entry-type>
    	<env-entry-value>C:/Develop/TestData</env-entry-value> 
	</env-entry>
	
	
	<!-- 
	<filter>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
    	<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>monitor</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GroupReportExportController</display-name>
		<servlet-name>GroupReportExportController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.GroupReportExportController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestReportExportController</display-name>
		<servlet-name>RequestReportExportController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.RequestReportExportController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GroupRawLogExportController</display-name>
		<servlet-name>GroupRawLogExportController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.GroupRawLogExportController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestRawLogExportController</display-name>
		<servlet-name>RequestRawLogExportController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.RequestRawLogExportController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GroupRawlogStatExportController</display-name>
		<servlet-name>GroupRawlogStatExportController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.GroupRawlogStatExportController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceApiGroupStatController</display-name>
		<servlet-name>ServiceApiGroupStatController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.ServiceApiGroupStatController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GroupAggHourLogExportController</display-name>
		<servlet-name>GroupAggHourLogExportController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.GroupAggHourLogExportController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestAggHourLogExportController</display-name>
		<servlet-name>RequestAggHourLogExportController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.RequestAggHourLogExportController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceApiRequestStatusController</display-name>
		<servlet-name>ServiceApiRequestStatusController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.ServiceApiRequestStatusController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServiceApiGroupStatusController</display-name>
		<servlet-name>ServiceApiGroupStatusController</servlet-name>
		<servlet-class>
		org.easysdi.monitor.gui.webapp.controllers.ServiceApiGroupStatusController</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>monitor</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestReportExportController</servlet-name>
		<url-pattern>/RequestReportExportController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GroupRawLogExportController</servlet-name>
		<url-pattern>/GroupRawLogExportController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestRawLogExportController</servlet-name>
		<url-pattern>/RequestRawLogExportController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GroupRawlogStatExportController</servlet-name>
		<url-pattern>/GroupRawlogStatExportController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceApiGroupStatController</servlet-name>
		<url-pattern>/ServiceApiGroupStatController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GroupAggHourLogExportController</servlet-name>
		<url-pattern>/GroupAggHourLogExportController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestAggHourLogExportController</servlet-name>
		<url-pattern>/RequestAggHourLogExportController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceApiRequestStatusController</servlet-name>
		<url-pattern>/ServiceApiRequestStatusController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServiceApiGroupStatusController</servlet-name>
		<url-pattern>/ServiceApiGroupStatusController</url-pattern>
	</servlet-mapping>
	
	
	
</web-app>
